@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #252e3d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666565;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
